nav {
  height: 5em;
}

.hero-left {
  padding: 2em;  
}

.hero-left p {
  font-size: 175%;
  font-weight: 300;
  letter-spacing: normal;
}

.hero-left img {
  border-radius: 50%;
  max-width: 60%;
  display: block;
}

.hero-right {
  padding: 2em;
}

.hero-right p {
  color: #777777;
  font-size: 105%;
  line-height: 1.8;
}

.button-resume {
  padding: 0.9em;
  width: 100%;
}
